body {
    background-color: dodgerblue;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto Slab', serif;
}

.whiteBox {
    position: absolute;
    background-color: #ffffff;
    width: 25%;
    height: 55%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 10px 0 rgba(79,79,79,0.78);

}

.whiteBox img {
    position: relative;
    width: 20%;
    top: 3%;
    left: 3%;
}

.loginBox {
    background-color: #ffffff;
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 13%;
    height: 45%;
    align-items: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.loginBox button {
    background-color: darkblue;
    width: 35%;
    padding: 8px;
    color: #ffffff;
    border-radius: 5px;
    margin: 3px;
    border: none;
    font-family: 'Roboto Slab', serif;
    cursor: pointer;
}

button:hover {
    box-shadow: 0 0 10px 0 rgba(79,79,79,0.78);
}

form {
    display: inline-block;
    text-align: center;
}

form input {
    font-family: 'Roboto Slab', serif;
    padding: 5%;
    margin: 2%;
}

.bigBoldText {
    font-size: 20px;
    font-weight: bold;
    margin: 5%;
}

#clickableLink1 {
    font-size: 17px;
    margin: 5%;
    color: dodgerblue;
    text-decoration: underline;
}

#clickableLink2 {
    font-size: 14px;
    margin: 3px;
    color: dodgerblue;
    text-decoration: underline;
}